body {
  height: 100vh;
  font-weight: 100;
  margin: 10px;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(rgba(2,0,36,1) 0%, rgba(238,192,18,1) 42%, rgba(0,212,255,1) 100%);
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #39813f;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0b3619;
}
.card {
  text-align: center;
  /*background-image: url('/public/image.jpg');*/
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background: rgb(2, 0, 36);
  background: linear-gradient(rgba(2, 0, 36, 1) 0%, rgba(238, 192, 18, 1) 42%, rgba(0, 212, 255, 1) 100%); 
  width: 300px;
  height: 400px;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}
